#forgot-password {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white; // Adjust the color as needed
  h1{
    margin: 10px 0 20px 0;
    font-size: 2.5rem;
    color: white;
  }
  p {
    width: 60%;
    margin: 10px auto 20px auto;
    font-size: 1.1rem;
  }

  .status-message {
    margin-bottom: 1rem;
    // Style for status messages (success, error, etc.)
  }

  form {
    margin: 0 auto;
    width: 300px;
    label{
      font-size: 1.3rem;
    }
    input[type='email'] {
      height: 30px;
      width: 100%;
      display: block;
      padding: 5px;
      margin: 5px 0;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      color: black;
    }

    // Assuming InputError is a component - you might need to adjust this
    .input-error {
      margin-top: 10px;
      font-size: 1rem;
      color: red; // Error message color
    }

    button {
      width: 200px;
      height: 50px;
      display: block;
      margin: 20px auto;
      border: none;
      border-radius: 10px;
      font-size: .9rem;
      background: black;
      color: white;
      cursor: pointer;
    }
  }

  @media(max-width: 480px){
    p{
      width: 100%;
    }
    form {
      width: 200px;

      input[type='email'] {
        width: 100%;
      }
    }
  }
}
