.form{
  padding: 0 100px;
  z-index: 11;
  h1{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
  }
  form{
    margin: 20px auto 0 auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .radio-buttons{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .radio-button{
        padding: 0 5px;
        input{
          margin: 0 3px;
        }
      }
    }
    .selection_warning{
      color: #fbff00;
      font-size: 1.2rem;
      display: none;
    }
    .visible{
      display: block;
      text-align: center;
      font-weight: 700;
      margin: 10px auto;
    }
    input[type='text']{
      width: 250px;
      height: 35px;
      display: block;
      margin: 0 auto 10px auto;
      padding: 0 5px;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      color: black;
    }
    button{
      width: 80px;
      height: 40px;
      display: block;
      margin: 0 auto;
      border: none;
      border-radius: 5px;
      background: #df0c0c;
      color: black;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .register-pitch{
      margin-top: 10px;
      font-size: 1.1rem;
      text-align: center;
      a{
        color: #00c3ff;
      }
    }
    .streaming-list{
      margin-top: 10px;
      text-align: center;
      color: white;
    }
    .loading{
      width: 100px;
      height: 100px;
      display: flex;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      i{
        font-size: 24px;
        transition: 1s ease-in-out;
      }
    }
  }
  .loading{
    display: none;
    margin-top: 30px;
    i{
      font-size: 60px;
      transition: 1s ease-in-out;
    }
  }
  .visible{
    display: flex;
    justify-content: center;
  }
  .results-container{
    width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .left-arrow__container{
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 125px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      z-index: 20;
      .left-arrow{
        font-size: 30px;
      }
    }
    .right-arrow__container{
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 125px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      z-index: 20;
      .right-arrow{
        font-size: 30px;
      }
    }
    .inverted{
      color: black;
    }
    .inverted-bg{
      background: rgba(255, 255, 255, 0.5);
    }
    .visible{
      display: flex;
    }
    .shows{
      width: 100%;
      display: flex;
      position: relative;
      left: 0;
      margin: 25px auto 0 auto;
      transition: .5s ease-in-out;
      .result{
        width: 225px;
        margin: 0 auto;
        text-align: center;
        transition: .5s ease-in-out;
        .title-container{
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          h2{
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
        }
        img{
          width: 150px;
          height: 200px;
          margin: 0 auto;
        }
        h4{
          font-size: 1.3rem;
          margin-bottom: 10px;
        }
        p{
          width: 225px;
          margin: 10px auto 0 auto;
          font-size: 1.1rem;
        }
        .streaming-image{
          display: block;
          width: 120px;
          height: 60px;
          margin: 0 auto 10px auto;
        }
        input[type='submit']{
          width: 90px;
          height: 45px;
          display: block;
          margin: 10px auto;
          border: none;
          border-radius: 10px;
          font-size: 1.1rem;
          background: black;
          color: white;
          cursor: pointer;
        }
        .loading{
          display: none;
          margin-top: 10px;
          i{
            font-size: 24px;
            transition: 1s ease-in-out;
          }
        }
        .visible{
          display: block;
        }
        .streaming-image{
          width: 120px;
          height: 60px;
        }
      }
      .streamCheck{
        width: 90px;
        height: 45px;
        display: block;
        margin: 10px auto;
        border: none;
        border-radius: 10px;
        font-size: 1.1rem;
        background: white;
        color: black;
        cursor: pointer;
      }
      .single{
        width: 900px;
        margin: 0 auto;
      }
    }
  }
}

@media(max-width: 992px){
  .form{
    padding: 0;
    .results-container{
      width: 750px;
      .left-arrow__container{
        left: 25px;
      }
      .right-arrow__container{
        right: 25px;
      }
      .inverted{
        color: white;
      }
      .inverted-bg{
        background:rgba(0, 0, 0, 0.5)
      }
      .shows{
        .result{
          width: 250px;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .form{
    h1{
      font-size: 2rem;
    }
    form{
      input[type='text']{
        width: 200px;
      }
    }
    .results-container{
      width: 600px;
      .shows{
        .result{
          width: 200px;
          p{
            width: 200px;
          }
        }
      }
    }
  }
}
@media(max-width: 480px){
  .form{
    padding: 10px;
    h1{
      width: 80%;
    }
    .results-container{
      width: 320px;
      .left-arrow__container{
        top: 115px;
        left: 5px;
        width: 40px;
        height: 40px;
        .left-arrow{
          font-size: 26px;
        }
      }
      .right-arrow__container{
        top: 115px;
        right: 5px;
        width: 40px;
        height: 40px;
        .right-arrow{
          font-size: 26px;
        }
      }
      .shows{
        .result{
          width: 160px;
          img{
            width: 100px;
            height: 150px;
          }
          p{
            width: 160px;
          }
        }
      }
    }
  }
}
@media(max-width: 320px){
  .form{
    .results-container{
      width: 240px;
      .shows{
        .result{
          width: 120px;
          img{
            width: 75px;
            height: 125px;
          }
          p{
            width: 120px;
          }
        }
      }
    }
  }
}
