.loginForm{
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h1{
    margin: 10px 0 20px 0;
    font-size: 3rem;
    color: white;
  }
  form{
    .field{
      display: block;
      position: relative;
      margin: 0 auto;
      width: 300px;
      label{
        display: block;
        font-size: 1.2rem;
      }
      input[type='text'], input[type='password']{
        height: 30px;
        width: 250px;
        display: flex;
        padding: 5px;
        margin: 10px auto;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        color: black;
      }
      .visibility-container{
        display: flex;
        i{
          position: absolute;
          right: -10px;
          top: 40px;
          font-size: 18px;
        }
      }
    }
    input[type='submit']{
      width: 90px;
      height: 45px;
      display: block;
      margin: 10px auto;
      border: none;
      border-radius: 10px;
      font-size: 1.1rem;
      background: black;
      color: white;
      cursor: pointer;
    }
  }
}

@media(max-width: 768px){
  // .loginForm{
  //   form{
  //     .field{
  //       input[type='text'], input[type='password']{

  //       }
  //       .visibility-container{
  //         i{

  //         }
  //       }
  //     }
  //   }
  // }
}
@media(max-width: 480px){
  .loginForm{
    form{
      .field{
        width: 200px;
        input[type='text'], input[type='password']{
          width: 200px;
        }
        .visibility-container{
          i{
            right: -35px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media(max-width: 320px){
  // .loginForm{
  //   form{
  //     .field{
  //       input{

  //       }
  //       .visibility-container{
  //         i{
            
  //         }
  //       }
  //     }
  //   }
  // }
}