#reset-password{
  width: 50%;
  margin: 0 auto;
  h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 20px auto;
  }
  .error-message{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #ff0000;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .field{
      display: block;
      position: relative;
      margin: 0 auto;
      width: 300px;
      label{
        color: white;
        text-align: center;
      }
      input{
        margin: 5px auto;
        color: black;
      }
      .visibility-container{
        display: flex;
        i{
          position: absolute;
          right: 15px;
          top: 40px;
          font-size: 18px;
        }
      }
      button{
        margin: 20px auto;
        background: black;
      }
    }
  }
}